<div class="wrapper">
    <div class="wrapper-img animated fadeInDown">
        <p class="message animated fadeIn delay-1s">
            The life is run fordward
        </p>
    </div>

    <div class="wrapper-login">
        <div class="login-container">
            <h1 class="register-title animated bounceInDown">
                Sign up
            </h1>
            <form [formGroup]="forma" (ngSubmit)="UserRegister()" class="from animated bounceInRight" novalidate>
                <div class="username-wrapper">
                    <i class="fas fa-user"></i>
                    <input class="input" type="email" placeholder="email" formControlName="email">

                    <!-- Manejo de Errores -->
                    <div class="err" *ngIf="email.touched && email.errors?.pattern">
                        <p class="err-message">
                            El correo no es valido.
                        </p>
                    </div>
                </div>
                <div class="password-wrapper">
                    <i class="fas fa-lock"></i>
                    <input class="input" type="password" placeholder="password" formControlName="password">

                    <!-- Manejo de Errores -->
                    <div class="err" *ngIf="password.touched && password.errors?.passwordValidation">
                        <p class="err-message">
                            {{ password.errors?.passwordValidation.message }}
                        </p>
                    </div>
                </div>

                <div class="custom-control custom-checkbox checkbox-wrapper">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="rememberUser">
                    <label class="custom-control-label" for="customCheck1">Recordar Usuario</label>
                </div>

                <div class="button-wrapper">
                    <button class="register-button">
                        Sign up
                    </button>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="link">
                    <p>Si ya tienes cuenta <span><a [routerLink]="[ '/login' ]">Inicia Sesión</a></span> aquí.</p>
                </div>
            </form>
        </div>
    </div>
</div>