<app-navbar></app-navbar>
<div class="wrapper">
    <h1 class="title animated fadeIn">Ingresar Empleado <i class="fas fa-pencil-alt x2"></i></h1>

    <div class="container animated fadeIn">

        <div class="text-right mt-3">
            <a class="btn btn-danger btn-return" routerLink="/home"><i class="fas fa-share-square"></i>Regresar</a>
        </div>


        <form class="form-wrapper" #forma="ngForm" (submit)="save(forma)" novalidate>
            <div class="row mb-3">
                <div class="col">
                    <label for="">Nombre</label>
                    <input #nombre [(ngModel)]="empleado.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del empleado..." required>
                </div>
                <div class="col">
                    <label for="">Apellido</label>
                    <input #apellido [(ngModel)]="empleado.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido del empleado..." required>
                </div>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Puesto</label>
                <input #puesto [(ngModel)]="empleado.puesto" name="puesto" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese el puesto de trabajo..." required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Area</label>
                <input #area [(ngModel)]="empleado.area" name="area" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese el área/departamento de trabajo..." required>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="">Salario</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input #salario [(ngModel)]="empleado.salario" name="salario" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>


                    </div>
                </div>
                <div class="col">
                    <label for="">Fecha de Ingreso</label>
                    <input #ingreso [(ngModel)]="empleado.ingreso" name="ingreso" type="date" class="form-control" required>
                </div>
            </div>

            <div class="button-wrapper">
                <button type="submit" class="buttom-form text-center">
                    Guardar <i class="far fa-save"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>