.wrapper {
    height: 100vh;
    background: url('../../../assets/img/fondoEmpleado.jpg');
    /* Chrome 10-25, Safari 5.1-6 */
    padding-top: 1rem;
    padding-left: 1rem;
}

.container {
    border-top: 2px solid black;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-wrapper {
    padding: 1rem;
    width: 50%;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 0.5rem;
}

label {
    font-weight: 600
}

.btn-return {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

.btn-return:hover {
    background-color: transparent;
    color: red;
}

.fa-share-square {
    margin-right: 0.5rem
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.buttom-form {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 15rem;
    border: none;
    background-color: transparent;
    border: 1.5px solid rgb(0, 162, 255);
    border-radius: 1rem;
    color: rgb(0, 162, 255);
    transition: 0.5s;
    position: relative;
}

.buttom-form i {
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
}

.buttom-form:hover {
    color: white;
    background-color: rgb(0, 162, 255);
}

.valid-salario {
    position: relative;
    top: -2rem;
}